.home-container {
  @include defaultContentMargin;
  $wrap-width: 83.333%;
  .commercial {
    position: relative;
    width: $wrap-width;
    margin: 0 auto;

    .cm-switch {
      height: 370px;
      .switchs {
        position: relative;
        padding-top: 130px;
        width: 60px;
        .switch {
          display: flex;
          height: 35px;
          cursor: pointer;
          &.active {
            i {
              &::before {
                width: 20px;
                background-color: $text-color;
              }
            }
            span {
              align-self: center;
              @include fontStyle(18px, 700);
            }
          }
          i {
            position: relative;
            width: 30px;
            &::before {
              content: '';
              position: absolute;
              top: 14.5px;
              left: 0;
              width: 10px;
              height: 3px;
              background-color: #999;
              transition: 0.2s;
            }
          }
          span {
            letter-spacing: 1px;
            @include fontStyle(18px, 300);
          }
        }
      }
    }
    .cm-carousel {
      position: relative;
      .carousel-stage-outer {
        overflow: hidden;
        transition: 0.2s ease;
        .carousel-stage {
          display: flex;
          transition: all 0.5s ease 0s;
          img {
            height: 600px;
            object-fit: cover;
            @include stopDrag;
          }
          &.grap {
            cursor: grab;
          }
        }
      }
      .carousel-nav {
        display: flex;
        position: absolute;
        right: 10%;
        top: -40px;
        .nav {
          position: relative;
          width: 80px;
          height: 80px;
          background-color: $text-color;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            top: calc(50% - 12px);
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            border-top: #ffffff solid 2px;
            border-right: #ffffff solid 2px;
            border-radius: 2px;
            transition: 0.2s;
          }
          &:hover {
            &::before {
              border-top: #999 solid 2px;
              border-right: #999 solid 2px;
            }
          }

          &.prev {
            &::before {
              left: calc(50% - 8px);
              transform: rotate(225deg);
            }
          }
          &.next {
            &::before {
              left: calc(50% - 16px);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .cm-text {
      position: absolute;
      left: 20%;
      top: 120px;
      z-index: 1;
      pointer-events: none;
      word-wrap: normal;
      word-break: keep-all;
      .title {
        display: flex;
        flex-direction: column;
        @include spacingHeight(-3px, 100px);
        margin-bottom: 60px;
        span {
          @include fontStyle(80px, 200);
          white-space: nowrap;
        }
        strong {
          @include fontStyle(80px, 800);
        }
      }
      .desc {
        display: flex;
        flex-direction: column;
        @include spacingHeight(-1px, 30px);
        strong {
          @include fontStyle(18px, 700);
          margin-bottom: 20px;
        }
        span {
          @include fontStyle(18px, 300);
        }
      }
    }
  }

  .about {
    display: flex;
    justify-content: space-between;
    width: $wrap-width;
    padding-top: 200px;
    margin: 120px 10% 0 10%;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: 0.4s;
    &.on {
      opacity: 1;
      transform: translateZ(0);
    }
    .about-text {
      .top {
        margin-bottom: 20px;
        @include fontStyle(16px, 700);
        @include spacingHeight(4px, 30px);
      }
      .title {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        strong {
          @include fontStyle(70px, 700);
          @include spacingHeight(-3px, 80px);
        }
      }
      .desc {
        display: flex;
        flex-direction: column;
        span {
          @include fontStyle(18px, 400);
          @include spacingHeight(-1px, 30px);
        }
      }
      .btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 180px;
        height: 60px;
        margin-top: 97px;
        background-color: $text-color;
        @include fontStyle(20px, 700);
        @include spacingHeight(0px, 60px);
        color: #ffffff;
        transition: 0.2s;
        padding-left: 30px;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid $text-color;
        text-decoration: none;
        &::after {
          content: '';
          position: absolute;
          right: 30px;
          width: 40px;
          height: 3px;
          background-color: #ffffff;
        }
        &:hover {
          background-color: #ffffff;
          color: $text-color;
          &::after {
            background-color: $text-color;
          }
        }
      }
    }
    .about-img {
      > img {
        max-width: 500px;
        width: 100%;
      }
    }
  }

  .text-service {
    margin-top: 180px;
    margin-bottom: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    strong {
      position: absolute;
      @include fontStyle(140px, 400);
      @include spacingHeight(0px, 160px);
      white-space: nowrap;
    }
    .text1 {
      left: 0;
      top: 0;
      opacity: 0.1;
      color: $text-color;
    }
    .text2 {
      left: -300px;
      top: 160px;
      opacity: 0.3;
      color: transparent;
      -webkit-text-stroke: 1px $text-color;
    }
  }

  .brand {
    position: relative;
    width: $wrap-width;
    margin: 0 auto;
    .title-wrapper {
      margin: 0 10%;
      .brand-top {
        margin-bottom: 20px;
        @include fontStyle(16px, 700px);
        @include spacingHeight(4px, 30px);
      }
      .brand-text {
        display: flex;
        .title {
          display: flex;
          flex-direction: column;
          width: 50%;
          @include fontStyle(70px, 700);
          @include spacingHeight(-3px, 80px);
          word-wrap: normal;
          word-break: keep-all;
        }
        .desc {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 10px 0;
          @include fontStyle(18px, 400);
          @include spacingHeight(-1px, 30px);
          word-wrap: normal;
          word-break: keep-all;
        }
      }
    }
    .brand-carousel {
      margin-top: 110px;
      margin-left: -10%;
      width: 120%;
      .carousel-stage-outer {
        position: relative;
        overflow: hidden;
        transition: 0.2s ease;
        .carousel-stage {
          display: flex;
          transition: all 0.5s ease 0s;
          .carousel-item {
            position: relative;
            display: flex;
            justify-content: center;

            .image {
              display: flex;
              justify-content: center;
              width: 66.6666%;
              transition: all 0.5s;
              // transition: all 1s ease-in-out;
              background-size: cover;
              background-position: top;
              &.expand {
                width: 100%;
              }
            }
          }

          &.grap {
            cursor: grab;
          }
        }
        .text-stroke {
          position: absolute;
          left: -340px;
          top: 270px;
          @include fontStyle(200px, 700);
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
          opacity: 0.3;
          transform: rotateZ(90deg);
        }
      }
    }
    .brand-switch {
      margin-top: 110px;
      height: 370px;
      position: absolute;
      width: 250px;
      right: 0;
      top: 50%;
      .switchs {
        .switch {
          display: flex;
          height: 35px;
          cursor: pointer;
          opacity: 0.3;
          justify-content: flex-end;
          &.active {
            opacity: 1;
            i {
              &::before {
                left: 14px;
                width: 20px;
                background-color: #ffffff;
              }
            }
            span {
              @include fontStyle(17px, 700);
              color: #ffffff;
            }
          }
          i {
            position: relative;
            width: 35px;
            &::before {
              content: '';
              position: absolute;
              top: 11.5px;
              left: 24px;
              width: 10px;
              height: 3px;
              background-color: #ffffff;
              transition: 0.2s;
            }
          }
          span {
            letter-spacing: 1px;
            @include fontStyle(17px, 700);
            color: #ffffff;
          }
        }
      }
    }
  }
}
