.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  min-width: 320px;
  height: 100px;
  background-color: #ffffff;
  &.open {
    width: 100%;
    height: 100%;
    background-color: beige;
  }
  &.on {
    .logo {
      top: 40px;
    }
    .menu-wrapper {
      top: 40px;
    }
  }
  .logo {
    display: flex;
    position: absolute;
    left: 8.333%;
    top: 60px;
    width: 260px;
    height: 40px;
    align-items: center;
    transition: 0.3s;
    > div {
      width: 100%;
      height: 20px;
      background: url('@Assets/Images/Common/logo.svg') no-repeat;
      cursor: pointer;
    }
  }
  .menu-wrapper {
    position: absolute;
    right: 8.333%;
    top: 60px;
    display: flex;
    column-gap: 50px;
    height: 40px;
    transition: 0.3s;
    .menu {
      display: flex;
      position: relative;
      color: $text-color;
      align-items: center;
      text-decoration: none;
      @include fontStyle(18px, 600);
      &:hover {
        &::before {
          right: 0;
          background-color: $text-color;
          pointer-events: unset;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 100%;
        top: 40px;
        height: 3px;
        background: transparent;
        pointer-events: none;
        transition: 0.4s;
      }
    }
    .drawer-menu {
      position: relative;
      width: 40px;
      height: 40px;
      &.off:hover {
        > i::after {
          left: 0;
        }
      }
      &.on {
        > i {
          background-color: transparent;
          &::before {
            top: 0;
            left: -2px;
            right: -2px;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 0;
            left: -2px;
            right: -2px;
            transform: rotate(-45deg);
          }
        }
      }
      > i {
        position: absolute;
        left: 25%;
        top: 50%;
        width: 20px;
        height: 3px;
        background-color: $text-color;
        transition: 0.2s;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: -8px;
          height: 3px;
          background-color: $text-color;
          transition: 0.2s;
        }
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          right: 0;
          bottom: -8px;
          height: 3px;
          background-color: $text-color;
          transition: 0.3s;
        }
      }
    }
  }

  .go-bottom {
    position: fixed;
    right: 4.16vw;
    bottom: 4.16vw;
    width: 60px;
    height: 60px;
    background-color: $text-color;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0;
    &.on {
      opacity: 1;
    }
    > i {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 17px;
      height: 17px;
      margin-left: -9px;
      margin-top: -5px;
      border-top: #fff solid 1px;
      border-right: #fff solid 1px;
      transform: rotate(-45deg);
      pointer-events: none;
    }
  }
}
