@mixin defaultContentMargin {
  margin-top: 140px;
}

@mixin fontStyle($fontSize, $fontWeight) {
  color: $text-color;
  font-weight: $fontWeight;
  font-size: $fontSize;
}

@mixin spacingHeight($letterSpacing, $lineHeight) {
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}

@mixin stopDrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@mixin textStroke($color, $strokeColor) {
  color: $color;
  text-shadow: -1px -1px 0 $strokeColor, 1px -1px 0 $strokeColor, -1px 1px 0 $strokeColor, 1px 1px 0 $strokeColor;
}
