@mixin defaultContentMargin {
  margin-top: 140px;
}

@mixin fontStyle($fontSize, $fontWeight) {
  color: $text-color;
  font-weight: $fontWeight;
  font-size: $fontSize;
}

@mixin letterSpacing() {
  letter-spacing: 2px;
  line-height: 40px;
}
